@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
    color: #A6705Dff;
    font-size: 60px;
    text-align: center;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}

p1, p2, p3, p4{
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: 'Noto serif', sans-serif;
}

.body{
    text-align: center;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0; /* Ajusta el padding según sea necesario */
}




