@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
    color: #A6705Dff;
    font-size: 60px;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}


p1, p2{
    
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Noto serif', sans-serif;
}

@media screen and (min-width: 1000px) {
    .texto {
      font-size: 1.5rem; /* Increase font size for larger screens */
    }
  }