@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    color: #A6705Dff;
    font-size: 60px;
    text-align: center;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}

.Formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, sans-serif;
}

form{
    background-color: #A6705Dff;
    padding: 30px;
    border-radius: 20px;
}

.Formulario label {
    width: 100px;
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}
  
input[type="date"],
input[type="time"],
input[type="number"],
input[type="tel"] {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}
.informacionSolicitud{
    font-family: 'Noto serif', sans-serif;
    font-size: 20px;
    text-align: center;
    width: auto;
}

.submit-button {
    display: flex;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

p1{
    font-family: 'Noto serif', sans-serif;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

footer, p1{
    display: flex;
    flex-direction: row;
}

p{
    justify-content: center;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}


@media screen and (max-height: 850px){
    body{
        height: 950;
    }
    footer{
        position: relative;
        bottom: 0px;
        width: 100%;
    }
}

.submit-button:hover {
    background-color: #45a049;
}