@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
    color: #A6705Dff;
    font-size: 60px;
    text-align: center;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}

h3{
    color: #A6705Dff;
    font-size: 30px;
    text-align: left;
    font-family: 'Noto serif', sans-serif;
}

body {
    text-align: center;
    font-family: 'Noto serif', sans-serif;
}
