.body{
    display: grid;
    grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"ImagenPrincipal"
		"Parrafo1"
		"ImagenPrincipal2"
		"Parrafo2"
        "ImagenCocina"
        "Footer";
	grid-gap: 1rem;
	margin: 0 auto;
}



@media screen and (min-width: 1200px ) {
    .body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "ImagenPrincipal ImagenPrincipal"
            "Parrafo1 ImagenPrincipal2"
            "ImagenCocina Parrafo2"
            "footer footer";
        max-width: auto;
        max-width: 1450px
    }
    .ImagenPrincipal {
        grid-area: ImagenPrincipal;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 0 auto;
    }
}

img {
    width: 100%;
    height: auto;
}


.ImagenPrincipal {
    scale: 1;
    grid-area: ImagenPrincipal;
    padding: 1rem;
}

.parrafo1{
    grid-area: Parrafo1;
    padding: 1rem;
}

.ImgPpal2{
    scale: 1;
    grid-area: ImagenPrincipal2;
    padding: 1rem;
}

  
.ImgCocina{
    scale: 1;
    grid-area: ImagenCocina;
    padding: 1rem;
}
.Parrafo2{
    grid-area: Parrafo2;
    padding: 1rem;
}

p{
    font-family: 'Noto Serif', sans-serif;
    text-align: justify;
}