@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
    color: #A6705Dff;
    font-size: 60px;
    text-align: center;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}

h3{
    color: #A6705Dff;
    font-size: 30px;
    text-align: left;
    font-family: 'Noto serif', sans-serif;
}

body {
    text-align: center;
    font-family: 'Noto serif', sans-serif;
}

.redondeada:hover {
    transform: translateY(-10px);
}

.body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr; 
    grid-template-rows: 100px 600px;
    gap: 30px;
    grid-row-gap: 20px;
 }

.titulo{
    grid-column: 3;
    grid-row: 1;
}

.carta{
    grid-column: 2;
    grid-row: 2;
}

.menu_degustacion{
    grid-column: 4;
    grid-row: 2;

}