@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    color: #A6705Dff;
    font-size: 60px;
    text-align: center;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}
p1, p2{
    color: black;
    font-size: 25px;
    font-family: 'Noto serif', sans-serif;
    
}

#titulo {
    column-count: 1;
}

.redondeada {
    width:250px;
    height:200px;
    
}

.body{
    column-count: 1;
    column-gap: 3em;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}

div{
    column-gap: 30px;
}

@media screen and (min-width: 580px){
    .body{
        column-count: 2;
        
    }

    .redondeada {
        
        width:105%;
    }

}

@media screen and (min-width: 830px){
    .body{
        column-count: 3;
        
    }

    .redondeada {
        height:105%;
    }
}
