@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    color: #A6705Dff;
    font-size: 60px;
    text-align: center;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}

h2{
    color: #A6705Dff;
    font-size: 40px;
    text-align: left;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
}

h3{
    color: black;
    font-size: 30px;
    font-family: 'Noto serif', sans-serif;
}

.resena{
    width: auto;
    height: auto;
    border: 10px solid; /* Borde sólido de 2 píxeles */
    border-radius: 5px;
    border-color: #A6705Dff;
    margin-bottom: 70px;
}

.botonImagenes{
    display: none;
}

.textoResenas{
    color: black;
    font-size: 25px;
    font-family: 'Noto serif', sans-serif;
    
}

label {
    width: 200px;
    font-weight: bold;
}

#estrella1:checked, #estrella2:checked, #estrella3:checked, #estrella4:checked, #estrella5:checked {
    border: 16px solid rgb(255, 255, 0);
}

#estrella1, #estrella2, #estrella3, #estrella4, #estrella5 {
    appearance: none;
    border: 16px solid #ffffff;
  
    clip-path: polygon(50% 0%, 67% 33%, 100% 33%, 75% 60%, 83% 90%, 50% 67%, 17% 90%, 25% 60%, 0% 33%, 33% 33%);
    
    position: relative;
    left: 15px;
}


#nombre {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 700px;
    height: 30px;
}
#text{
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 700px;
    height: 100px;
    
}


button,.nivel {
    padding: 10px 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

button:hover, .nivel:hover {
    background-color: #45a049;
}

.body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr; 
    grid-auto-rows: minmax(50px, auto);
    
    
}

.titulo{
    grid-column: 3;
    grid-row: 2;
}

form{
    grid-column: 2/5;
    grid-row: 3;
    max-width: 500px;
    margin: 0 auto;
    background: #ccc;
    background-color: #A6705Dff;
    padding: 30px;
    border-radius: 20px;
    position:relative;
    
}


form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
  color: white;
  
}

#contenidoXML{
    grid-column: 1/3;
    grid-row: 4;
    margin: 0 auto;
    padding: 30px;
}

form ol {
    padding-left: 0;
  }
  
  form li,
  form div > p {
    background: #A6705Dff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 3px solid black;
  }
  
  form img {
    height: 64px;
    order: 1;
  }
  
  form p {
    line-height: 32px;
    padding-left: 10px;
}

#preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .preview-image {
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .preview-image img, .centrar {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centrado  {
    max-width: 500px;
    max-height: 500px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
    z-index: 9999;
  }

  .imagenOculta{
    display: none;
  }




@media screen and (max-width: 580px){
    form{
        max-width: 325px;
        
    }

    button,.nivel {
        padding: 10px 40px;
        font-size: 10px;

    }

    label {
        width: 75px;
        
    }

    #nombre,#text, form div > p  {
        font-size: 10px;
        width: 100%;
        
    }

    .textoResenas{
        
        font-size: 18px;
        
    }

   
}




  
  
  
 

