@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    color: #A6705Dff;
    font-size: 60px;
    text-align: center;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.Formulario {
    font-family: Arial, sans-serif;
}
  
label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}
  
input[type="date"],
input[type="time"],
input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.submit-button {
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}