@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    color: #A6705Dff;
    font-size: 60px;
    text-align: center;
    font-family: 'Bebas Neue', 'Noto serif', sans-serif;
    font-weight: bold;
}
h2{
    color: #A6705Dff;
    font-size: 30px;
    font-family: 'Noto serif', sans-serif;
}



@media screen and (min-width: 830px){
    .ImagenPromocion1{
        width: 50%;
        float: right;
    }
    .promo1{
        width: 40%;
        float:left;
        position: relative;
        left: 30px;
    }
}

.indiceActual{
    font-size: 18px;
    color: #ffffff; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-family: 'Noto Serif', sans-serif;
    text-align: center;
}

p1, li{
    color: black;
    font-size: 25px;
    font-family: 'Noto serif', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

